.video-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 16px;
row-gap: 40px;
}
@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr ;

    }
}
@media (min-width:751px) and (max-width:999px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr ;

    }
    
}
@media (min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;

    }
}
.thumbnail {
    width: 100%;
}
.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}
.video-time{
    position: absolute;
    right: 5px;
    bottom: 8px;
    background-color: black;
    color: white;
    font-weight: 500;
    font-family: Roboto,Arial;
    font-size: 12px;
    padding: 4px;
  
    border-radius: 2px;

}
.video-info-grid {
display: grid;
grid-template-columns: 50px 1fr;
}
.video-title {
margin-top: 0;
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom: 10px;
}



.profile-picture {
width: 36px;
border-radius: 50px;
}


.video-author,
.video-stats {
font-size: 12px;
color: rgb(96, 96, 96);
}

.video-author {
margin-bottom: 4px;
}
.video-title-link {
  text-decoration: none;
  color: black;
}


.channel-picture{
  position: relative;
 
}

.channel-tooltip {
  background-color: white;
  width: 200px;
  padding: 10px 10px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  position: absolute;
  top: 10px;
  z-index: 300;

  opacity: 0;
  pointer-events: none;

   display: flex;
   align-items: center;
  transition: opacity 0.15s;
}

.channel-picture:hover .channel-tooltip {
  opacity: 1;
}

.channel-tooltip-picture {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 8px;
}

.channel-tooltip-name {
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 4px;
}

.channel-tooltip-stats {
  font-family: Roboto, Arial;
  color: rgb(96, 96, 96);
  font-size: 14px;
}

